.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main-content {
    flex: 1;
    padding: 0 20px 20px 20px;
    background-color: var(--surface-ground);
    overflow-y: auto;
}

app-sidebar {
    flex-shrink: 0;
    width: 250px;
    z-index: 1001;
    position: relative;
}