.sidebar-container {
    height: 100vh;
    width: 250px;
    background: var(--surface-card);
    border-right: 1px solid var(--surface-border);
    position: sticky;
    top: 0;
}

:host ::ng-deep .p-tieredmenu {
    border: none;
    border-radius: 0;
    width: 100%;
}